<%- include('partials/header'); -%>
<!-- IMPORTANDO EL HEAD DEL HTML -->

    <h1>Page with Express</h1>
    <p>wednesday finished express Fazt</p>
    
    <h2> <%= mensaje2 %> </h2>

<%- include('partials/footer'); -%>
<!-- IMPORTANDO EL FOOTER DEL HTML -->


<!-- home.js -->
<!-- /dashboard -->