<%- include('partials/header'); -%>
<!-- IMPORTANDO EL HEAD DEL HTML -->


    <h1>My name is Alfredo Zavala , i'm from Argentina,okay</h1>
    
<%- include('partials/footer'); -%>
<!-- IMPORTANDO EL FOOTER DEL HTML -->