<%- include('partials/header'); -%>
<!-- IMPORTANDO EL HEAD DEL HTML -->

<h2><%= list %></h2>

<h1>today is profile</h1>

<%= new Date() %>
<!-- recibir un valor con → = -->


<%- include('partials/footer'); -%>
<!-- IMPORTANDO EL FOOTER DEL HTML -->